.vscode-test/**
.vscode-test-web/**
.vscode/**
out/test/**
src/**
**/*.map
.gitignore
tsconfig.json
.eslintrc.js
**/*.ts
node_modules
lua/**
queries/**
scratch/**
scripts/**
Makefile
.luacheckrc
.luarc.json
.stylua.toml
